div
    h1 Welcome to Domain Creation.
    h2 What would you like your domain name to be?
    div
        md-input-container
            md-input(@change='updateDomain' @keyup.enter='')
        router-link(to='/settings', :class='{disabled:!isDomainValid}')
            md-button.md-fab(:disabled='!isDomainValid')
                md-icon arrow_forward