div
    h1 Welcome to Domain Creation.
    h2 What would you like your domain name to be?
    div
        md-input-container
            md-input(@change='updateDomain')
        router-link(to='/settings', v-bind:class='{disabled:!isDomainValid}')
            md-button.md-fab(v-bind:disabled='!isDomainValid')
                md-icon arrow_forward