div
    h1 Welcome to Domain Creation.
    h2 What would you like your domain name to be?
    div
        md-input-container
            md-input
        router-link(to='/')
            md-button.md-fab
                md-icon arrow_forward