extends layout

block css
    link(rel='stylesheet', href='/stylesheets/dashboard-288ec51db3aa87e138dfb5727785abdb.css')

block content
    div#dashboard-drawer.mdl-layout__drawer
        span.mdl-layout-title #{user.name}
        nav.mdl-navigation
            a.mdl-navigation__link.mdl-typography--text-uppercase(href="link") Link
    div#page-content
        table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
            thead
                tr
                    th.mdl-data-table__cell---non-numeric Material
                    th Quantity
                    th Unit price
            tbody
                tr
                    td.mdl-data-table__cell--non-numberic Contentname
                    td how many
                    td how much







