doctype html
html
    head
        title= 'Create a new domain'
        script(src='/javascripts/domain-create-6c0dc0bfb3eaa938ea14.js' async defer)
    body
        div#app(v-on:click='incrementCounter') {{counter}}