doctype html
html
    head
        title= 'Create a new domain'
        script(src='/javascripts/domain-create-9ef6076056599f24cfbd.js' async defer)
    body
        div#app(v-on:click='incrementCounter') {{counter}}