doctype html
html
    head
        title= 'Create a new domain'
        script(src='/javascripts/domain_create-f9c5da74b428aeadba17.js' async defer)
        link(rel='stylesheet' href='/stylesheets/domain_create-a933621d7c27420160ab510354cc28cf.css')
    body
        div#app