doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        meta(name="description" content=".")
        title= 'Create a new domain'
        script(src='/javascripts/domain_create-1946c3b5f2dfb91c0c31.js' async defer)
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
        link(rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='/stylesheets/domain_create-407a174f193c668224786e91d99bbd80.css')
    body
        div#app(v-md-theme="'default'")
            transition(appear name="slide-fade")
                router-view