doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        meta(name="description" content=".")
        title= 'Create a new domain'
        script(src='//code.getmdl.io/1.2.1/material.min.js' async defer)
        script(src='/javascripts/domain-23d0299d44317665f4bd.js' async defer)
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
        link(rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='//code.getmdl.io/1.2.1/material.deep_purple-pink.min.css')
        link(rel='stylesheet' href='/stylesheets/domain-d41d8cd98f00b204e9800998ecf8427e.css')
    body
        div#app
            router-view