extends layout

block css
    link(rel='stylesheet' href='/stylesheets/index-73e9d25d2981ce8424e6788b2aca4b44.css')

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
    div.mdl-grid
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
    div.mdl-grid
        div.mdl-cell.mdl-cell--12-col.popular-user-content
            p When a visitor clicks on one of the popular user boxes above, a brief description of the user's content is contained here.

    footer.mdl-mega-footer
        div.mdl-mega-footer__middle-section
            div.mdl-mega-footer__drop-down-section
                input(class='.mdl-mega-footer__heading-checkbox' type ='checkbox' checked)
                h1.mdl-mega-footer__heading Features
                ul.mdl-mega-footer__link-list
                    li
                        a(href='#') About
                    li
                        a(href='#') Terms
                    li
                        a(href='#') Partners
                    li
                        a(href='#') Updates
            div.mdl-mega-footer__drop-down-section
                input(class='.mdl-mega-footer__heading-checkbox' type ='checkbox' checked)
                h1.mdl-mega-footer__heading Details
                ul.mdl-mega-footer__link-list
                    li
                        a(href='#') Specs
                    li
                        a(href='#') Tools
                    li
                        a(href='#') Resources
            div.mdl-mega-footer__drop-down-section
                input(class='.mdl-mega-footer__heading-checkbox' type ='checkbox' checked)
                h1.mdl-mega-footer__heading Technology
                ul.mdl-mega-footer__link-list
                    li
                        a(href='#') Specs
                    li
                        a(href='#') Tools
                    li
                        a(href='#') Resources
            div.mdl-mega-footer__drop-down-section
                input(class='.mdl-mega-footer__heading-checkbox' type ='checkbox' checked)
                h1.mdl-mega-footer__heading FAQ
                ul.mdl-mega-footer__link-list
                    li
                        a(href='#') Specs
                    li
                        a(href='#') Tools
                    li
                        a(href='#') Resources
        div.mdl-mega-footer__bottom-section
            div.mdl-logo Title
            ul.mdl-mega-footer__link-list
                li
                    a(href="#") Help
                li
                    a(href="#") Privacy & Terms
