extends layout

block meta
    title= 'Plady'

block css
    link(rel='stylesheet' href='/stylesheets/index-a0deda0d742a8c74d18bc42e7c8a9be2.css')

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Test. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
    div.mdl-grid
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
        div.mdl-cell.mdl-cell--3-col.popular-user
            p slide show image of popular user. Clicking here loads user briefing below
    div.mdl-layout__content.popular-user-content
            p When a visitor clicks on one of the popular user boxes above, a brief description of the user's content is contained here.