extends layout

block meta
    title= 'Pladii'

block css
    link(rel='stylesheet' href='/stylesheets/index-b86f41d72045b200be7a459106c8e27d.css')

block content
    div.mdl-grid
        each val in domains_array
            div.pop-user-card.mdl-card.mdl-shadow--2dp.demo-card-square.mdl-cell.mdl-cell--4-col.mdl-cell--3-col-tablet.mdl-cell--1-col-phone
                figure.mdl-card__media
                    img(src=val.backgroundImage)
                div.mdl-card__title
                    h1.mdl-card__title-text #{val.name}
                div.mdl-card__supporting-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
                div.mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Read More
                    div.mdl-layout-spacer
                    button.mdl-button.mdl-button--icon.mdl-button--colored
                        i.material-icons favorite