doctype html
html
    head
        block meta

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        meta(name="description" content=".")

        script(src='//code.getmdl.io/1.2.1/material.min.js' async defer)
        script(src='/javascripts/layout-e141657853f97bf68009.js' async defer)
        block js

        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='//code.getmdl.io/1.2.1/material.deep_purple-pink.min.css')
        link(rel='stylesheet', href='/stylesheets/layout-6dc15c87fa8c6ca499e4f465a65221fa.css')
        block css

    body
        div.mdl-layout__container
            div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--no-desktop-drawer-button
                header.mdl-layout__header.mdl-layout__header
                    div.mdl-layout__header-row
                        div.mdl-layout-title
                            a(href='/')
                                img.logo(src='/images/logo.png', height='40px', width='40px')
                        div.mdl-layout-spacer
                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label
                            label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
                                i.material-icons search
                            div.mdl-textfield__expandable-holder
                                input#search.mdl-textfield__input(type='text', name='search')
                        nav.mdl-navigation.mdl-layout--large-screen-only
                            if (user)
                                a.mdl-navigation__link.mdl-typography--text-uppercase(href='/dashboard') Dashboard
                                img.user-avatar(src=user.picture, height='40px', width='40px')
                                button.logout-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Log Out
                            else
                                button.login-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.margin-left Log in / Sign Up
                div.mdl-layout__drawer
                    span.mdl-layout__title
                        a(href='/')
                            img.logo(src='/images/logo.png', height='40px', width='40px')
                    nav.mdl-navigation
                        if(user)
                            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/dashboard') Dashboard
                        else
                            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home

                    div.mdl-layout-spacer
                    nav.mdl-navigation
                        if (user)
                            button.logout-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Log Out
                        else
                            button.login-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Log in / Sign Up
                main.mdl-layout__content
                    block content

                    footer.mdl-mega-footer
                        div.mdl-mega-footer__middle-section
                            div.mdl-mega-footer__drop-down-section
                                div
                                    input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
                                    h1.mdl-mega-footer__heading Features
                                    ul.mdl-mega-footer__link-list
                                        li
                                            a(href='#') About
                                        li
                                            a(href='#') Terms
                                        li
                                            a(href='#') Partners
                                        li
                                            a(href='#') Updates
                            div.mdl-mega-footer__drop-down-section
                                div
                                    input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
                                    h1.mdl-mega-footer__heading Details
                                    ul.mdl-mega-footer__link-list
                                        li
                                            a(href='#') Specs
                                        li
                                            a(href='#') Tools
                                        li
                                            a(href='#') Resources
                            div.mdl-mega-footer__drop-down-section
                                div
                                    input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
                                    h1.mdl-mega-footer__heading Technology
                                    ul.mdl-mega-footer__link-list
                                        li
                                            a(href='#') How it works
                                        li
                                            a(href='#') Patterns
                                        li
                                            a(href='#') Usage
                                        li
                                            a(href='#') Products
                                        li
                                            a(href='#') Contracts
                        div.mdl-mega-footer__bottom-section
                            div
                                div.mdl-logo EduPlat
                                ul.mdl-mega-footer__link-list
                                    li
                                        a(href='#') Help
                                    li
                                        a(href='#') Privacy &amp; Terms