doctype html
html
  head
    title= title

    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='//code.getmdl.io/1.2.1/material.indigo-pink.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='//code.getmdl.io/1.2.1/material.min.js' async defer)

    block js
  body
    block content
