extends layout

block content
    h1 This section for managing Preferences
    p My Preferences
    h1 This section for managing videos
    p My videos
    h1 This section for managing documents
    p My documents
    h1 This section for managing analytics
    p My analytics
