extends layout

block content
	h1 Header
	li login
	li account

	h1 Left bar
	li homework
	li graphs
	li test results

	h1 Main content
	li instructor's blog

	h1 footer
	li contact info
	li extra links
	

