extends layout


block js
    meta(name='google-signin-client_id' content='348845630253-kcfnm3nkki0tkmlruejqtjd4914cnutf.apps.googleusercontent.com')
    script(src='//apis.google.com/js/platform.js' async defer)
    script(src='//unpkg.com/axios/dist/axios.min.js' async defer)

block content
    div.g-signin2(data-onsuccess="onSignIn")
    script.
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            axios.post('/signin', {
                token: id_token
            }).then(function (res) {
                console.log(res);
            });
        }
