div
    h1 Welcome to Domain Creation.
    h2 asdasdsadas be?
    div
        md-input-container
            md-input
        router-link(to='/create')
            md-button.md-fab
                md-icon arrow_forward