.slide-fade-enter-active {
    transition: all .7s ease-out;
    white-space: nowrap;
}

.slide-fade-leave-active {
    transition: all .7s ease-out;
    white-space: nowrap;
    position: absolute;
    padding-right: 800px;
    opacity: 0;
}

.slide-fade-enter {
    position: absolute;
    padding-left: 800px;
    opacity: 0;
}