div
    div.blog.blog--blogpost.mdl-layout.mdl-js-layout(v-if='blogPost', :style='{backgroundImage: domainBackgroundImage}')
        main.mdl-layout__content
            h1.text-center.readable.mdl-color-text--grey-50 {{title}}
            h2.text-center.readable.mdl-color-text--grey-100 {{description}}
            div.demo-back
                a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(href='#', @click.prevent='goBack')
                    i.material-icons(role='presentation') arrow_back
            div.blog__posts.mdl-grid
                div.mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--12-col
                    div.mdl-card__media.mdl-color-text--grey-50(:style='{backgroundImage: blogPostBackgroundImage}')
                        h3 {{blogPost.title}}
                    div.mdl-color-text--grey-700.mdl-card__supporting-text.meta
                        div.minilogo(:style='{backgroundImage: user.picture}')
                        div
                            strong {{user.name}}
                            span {{blogPost.createdAt.toDateString()}}
                    div.mdl-color-text--grey-700.mdl-card__supporting-text
                        p {{blogPost.text}}
                nav.demo-nav.mdl-color-text--grey-50.mdl-cell.mdl-cell--12-col
                    a.demo-nav__button(href='#', @click.prevent='goBack')
                        button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon.mdl-color--white.mdl-color-text--grey-900(role='presentation')
                            i.material-icons arrow_back
                        | Go Back
            footer.mdl-mini-footer
                div.mdl-mini-footer--left-section
                    button.mdl-mini-footer--social-btn.social-btn.social-btn__twitter
                        span.visuallyhidden Twitter
                    button.mdl-mini-footer--social-btn.social-btn.social-btn__blogger
                        span.visuallyhidden Facebook
                    button.mdl-mini-footer--social-btn.social-btn.social-btn__gplus
                        span.visuallyhidden Google Plus
                div.mdl-mini-footer--right-section
                    button.mdl-mini-footer--social-btn.social-btn__share
                        i.material-icons(role='presentation') share
                        span.visuallyhidden share