.mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}

.mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}

.mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 48px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
  background-color: #C4C4C4;
}

.mdl-card__media a,
.mdl-card__title a {
  color: inherit;
}

.mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.mdl-card__supporting-text strong {
  font-weight: 400;
}

.mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}

.mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}

.mdl-card__actions:first-child {
  margin-left: 0;
}
