.jumbotron {
    min-height: 400px;
    position: relative;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/85/ab/e0/85abe04bd63d91622a949b9b686edd8f.jpg) center;
}

.popular-user {
    height: 175px;
    background-color: darkgray;
}

.popular-user-content {
    height: 1000px;
    background-color: #789ce4;
    width: 100%;

}