img.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 24px;
}

.mdl-layout__drawer-button {
    color: white;
    background-color: rgba(66,66,66,0.6);
}

@media (min-width: 760px) {
    .mdl-mega-footer__middle-section {
        width: 60%;
        margin: 0 auto;

        .mdl-mega-footer__drop-down-section {
            width: 33.33%;

            > div {
                margin: 0 auto;
                width: 112px;
            }
        }
    }

    .mdl-mega-footer__bottom-section {
        padding: 0;
        margin: 0;

        > div {
            margin: 0 auto;
            width: 213px;
        }

        .mdl-mega-footer__link-list {
            margin: 0;

            > li:last-child {
                margin: 0;
            }
        }
    }
}