html, body, #app, #creation {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

a.disabled {
    pointer-events: none;
}

.slide-fade-enter-active {
    transition: all .7s ease-out;
    white-space: nowrap;
}

.slide-fade-leave-active {
    transition: all .7s ease-out;
    white-space: nowrap;
    position: absolute;
    padding-right: 800px;
    opacity: 0;
}

.slide-fade-enter {
    position: absolute;
    padding-left: 800px;
    opacity: 0;
}

#creation {
    background: linear-gradient(157deg, #78e4c8, #789ce4);
    background-size: 400% 400%;

    animation: AnimationName 15s ease infinite;

    @keyframes AnimationName {
        0% {
            background-position: 34% 0
        }
        50% {
            background-position: 67% 100%
        }
        100% {
            background-position: 34% 0
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        color: rgba(255, 255, 255, 0.87);
        text-align: center;
    }

    div + div {
        margin-top: 25px;
    }
}
