div
    h2 Welcome to Domain Creation.
    h3 What would you like your domain name to be?
    div
        div
            mdl-textfield(@keyup.native='updateDomain', :value='domain', maxlength='128', label='Domain Name', pattern='[a-zA-Z0-9]+', error='Domain names can only be alphanumeric.')
        div
            router-link(to='/create/layout', :class='{disabled:!isDomainValid}')
                mdl-button(:disabled='!isDomainValid', colored, fab)
                    i.material-icons arrow_forward