div#fab_ctn.mdl-button--fab_flinger-container(:class='{"is-showing-options": showing}')
    mdl-button#fab_btn.mdl-js-ripple-effect(@click.native='flingFab', colored, fab)
        i.material-icons add
    div.mdl-button--fab_flinger-options
        slot